/*messo immagine di sfondo*/
header {
  background-color: cornflowerblue;
  background-image: url(img/pattern.png);
  background-size: 320px;
  height: fit-content;
}

/*definito dimensioni logo e distanziato */
header img{
  height: 60px;
  margin-left: 100px;
  margin-top: 20px;
}

/* centro main e footer */
main, footer{
  width: 80%;
  margin: auto;
}

/* cambio dimesine al titolo e tolgo lo spazio tra h1 e p */
h1{
  font-size: 40px;
  margin-bottom: 0;
}

p{
  margin-top: 0;
}

/* cambio colore e size alle scritte sotto al titolo */
.sottotitolo{
  color:lightslategrey;
}

.autore{
  color: deepskyblue;
}

.data{
  font-size: 12px;
}

/* modifica alle foto sotto ad h1 */
.foto-tim{
  height: 300px;
}

.fonte-foto{
  font-size: 10px;
}

/* per evidenziare testo p */
.evidenzia{
  background-color: yellow;
}

/* cambio spazio delle ul */
ul{
  padding-inline-start: 15px;
}

/* varie funzioni per cambiare lo stile alle tabelle */
table {
  border-collapse: collapse;
  width: 100%;
}

tr th{
  background-color: lightseagreen;
  color: white;
  text-align: left;
}

table tr:nth-child(odd){
  background-color: lightskyblue;
}

th:nth-child(-n + 2){
  width: 25%;
}

/* aggiungo spazio per avere una divisione tra tabella e nuovo paragrafo */
div p{
  margin-top: 20px;
}

/* cambio diverse specifiche per modificare il contenuto nel footer */
footer h4{
  color: gray;
}

footer div{
  color: white;
  font-size: 26px;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: auto;
  height: 200px;
}

.computer {
  background-image: url(img/monitor.jpg);
}

.map{
  background-image: url(img/graph.jpg);
}